@model BookStore.Models.Admin

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Admin/_NoNavBar.cshtml";
}
<style>
    body {
        background-color: #eee;
    }

    .card {
        width: 400px;
        margin: 80px auto;
        padding: 20px;
        border-radius: 10px;
    }

    .nav-tabs .nav-link.active {
        font-weight: bold;
        color: #3b5998 ;
        border: none;
        border-bottom: 2px solid #3b5998;
    }

    .form-control::placeholder {
        color: #ccc;
    }

    .tab-pane {
        padding-top: 20px;
    }

    .btn-custom {
        background-color: #6c80b4;
        color: white;
    }
    .btn-custom:hover {
        background-color: #5a6e9e;
        color: white;
     }

</style>
<body>
    <div class="card shadow bg-white">
        <ul class="nav nav-tabs justify-content-center" id="authTabs" role="tablist">
            <li class="nav-item">
                <button class="nav-link active" id="login-tab" data-bs-toggle="tab" data-bs-target="#login" type="button" role="tab">Login</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" id="register-tab" data-bs-toggle="tab" data-bs-target="#register" type="button" role="tab">Register</button>
            </li>
        </ul>

        <div class="tab-content" id="authTabsContent">
            <!-- Login Tab -->
            <div class="tab-pane fade show active" id="login" role="tabpanel">
                <h6 class="text-center mt-3">Welcome to Login</h6>
                @using (Html.BeginForm("Login", "Admin", FormMethod.Post, new { @class = "form-signin" }))
                {

                    <div class="mb-3">
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "abc@gmail.com" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>

                    <div class="mb-3">
                        @Html.LabelFor(m => m.Account.PasswordHash)
                        @Html.PasswordFor(m => m.Account.PasswordHash, new { @class = "form-control", placeholder = "******" })
                        @Html.ValidationMessageFor(m => m.Account.PasswordHash, "", new { @class = "text-danger" })
                    </div>

                    <button type="submit" class="btn btn-custom w-100">Log In</button>
                }
            </div>

            <!-- Register Tab -->
            <div class="tab-pane fade" id="register" role="tabpanel">
                <h6 class="text-center mt-3">Create an Account</h6>
                @using (Html.BeginForm("SignUp", "Admin", FormMethod.Post))
                {

                    <div class="mb-2">
                        @Html.LabelFor(m => m.FirstName)
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "First Name" })
                        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                    </div>

                    <div class="mb-2">
                        @Html.LabelFor(m => m.LastName)
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Last Name" })
                        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                    </div>

                    <div class="mb-2">
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email Address" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>

                    <div class="mb-2">
                        @Html.LabelFor(m => m.Account.PasswordHash)
                        @Html.PasswordFor(m => m.Account.PasswordHash, new { @class = "form-control", placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Account.PasswordHash, "", new { @class = "text-danger" })
                    </div>

                    <div class="mb-2">
                        @Html.LabelFor(m => m.Department)
                        @Html.TextBoxFor(m => m.Department, new { @class = "form-control", placeholder = "Administration", @readonly = "readonly" })
                        @Html.ValidationMessageFor(m => m.Department, "", new { @class = "text-danger" })
                    </div>

                    <div class="mb-2">
                        @Html.LabelFor(m => m.Position)
                        @Html.TextBoxFor(m => m.Position, new { @class = "form-control", placeholder = "Admin", @readonly = "readonly" })
                        @Html.ValidationMessageFor(m => m.Position, "", new { @class = "text-danger" })
                    </div>

                    <div class="mb-2">
                        @Html.LabelFor(m => m.JoinDate)
                        @Html.TextBoxFor(m => m.JoinDate, "{0:yyyy-MM-dd}", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.JoinDate, "", new { @class = "text-danger" })
                    </div>

                    <button type="submit" class="btn btn-custom w-100 mt-2">Sign Up</button>
                }
            </div>
        </div>
    </div>

</body>
