@model BookStore.Models.Admin

@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_NoNav.cshtml";
}

<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="row w-100 justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header text-center">
                    <h2>Sign Up to InsideBox</h2>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("SignUp", "Admin", FormMethod.Post, new { @class = "form-signin" }))
                    {
                        <div class="form-horizontal">
                            <h4 class="text-center">Admin</h4>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group text-center">
                                @Html.LabelFor(model => model.Account.Username)
                                @Html.TextBoxFor(model => model.Account.Username, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Account.Username, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.FirstName)
                                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.LastName)
                                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Account.PasswordHash)
                                @Html.PasswordFor(model => model.Account.PasswordHash, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Account.PasswordHash, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Email)
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Department)
                                @Html.TextBoxFor(model => model.Department, new { @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Position)
                                @Html.TextBoxFor(model => model.Position, new { @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.JoinDate)
                                @Html.TextBoxFor(model => model.JoinDate, "{0:yyyy-MM-dd}", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.JoinDate, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group text-center">
                                <input type="submit" value="SignUp" class="btn btn-primary px-4" />
                            </div>
                        </div>
                    }
                </div>
                <div class="card-footer text-center">
                    Already have an account? @Html.ActionLink("Sign in", "Login", "Users")
                </div>
            </div>
        </div>
    </div>
</div>
