@using Antlr.Runtime
@model BookStore.Models.Account

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background-color: #eee;
    }

    .card {
        width: 400px;
        margin: 80px auto;
        padding: 20px;
        border-radius: 10px;
    }

    .nav-tabs .nav-link.active {
        font-weight: bold;
        color: #3b5998 ;
        border: none;
        border-bottom: 2px solid #3b5998;
    }

    .form-control::placeholder {
        color: #ccc;
    }

    .tab-pane {
        padding-top: 20px;
    }

    .btn-custom {
        background-color: #6c80b4;
        color: white;
    }
    .btn-custom:hover {
        background-color: #5a6e9e;
        color: white;
    }

</style>
<body>
<div class="card shadow bg-white">

    <div class="tab-pane fade show active" id="login" role="tabpanel">
        <h6 class="text-center mt-3">Login</h6>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @using (Html.BeginForm())
        {

            <div class="mb-3">
                @Html.LabelFor(m => m.Username)
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "johndoe" })
                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
            </div>

            <div class="mb-3">
                @Html.LabelFor(m => m.PasswordHash)
                @Html.PasswordFor(m => m.PasswordHash, new { @class = "form-control", placeholder = "********" })
                @Html.ValidationMessageFor(m => m.PasswordHash, "", new { @class = "text-danger" })
            </div>

            <button type="submit" class="btn btn-custom w-100">Log In</button>
        }
    </div>

</div>

</body>

