<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet" />
    <title>@ViewBag.Title - Book Haven</title>
    <style>
        .dropdown-toggle::after {
            margin-left: 0.5em;
        }
        html, body {
            height:  100%;
        }
        body {
            display: flex;
            flex-direction: column;
        }
        .body-content {
            flex: 1;
        }
        footer {
            margin-top:  auto;
        }
    </style>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fontawesome")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm sticky-top">
    <div class="container">
        <a class="navbar-brand fw-bold" href="@Url.Action("Browse", "Home")"><i class="fa fa-book-reader"></i> Book Haven</a>

        <div class="d-flex ms-auto">
            @if (Session["UserID"] == null)
            {
                <a href="@Url.Action("Login", "Account")" class="nav-link text-dark me-3">Login</a>
            }
            else
            {
                <div>
                    <a href="@Url.Action("Library", "Home")" class="nav-link position-relative text-dark me-3">
                        <i class="fa fa-book-atlas"></i>
                        Library
                    </a>
                </div>
                <div class="dropdown me-3">
                    <a class="nav-link dropdown-toggle text-dark" role="button" id="accountDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        My Account
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="accountDropdown">
                        <li><a class="dropdown-item" href="@Url.Action("Index", "User")">Manage Account</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("Logout", "User")">Logout</a></li>
                    </ul>
                </div>
            }
            <a href="@Url.Action("Index", "Cart")" class="nav-link text-dark position-relative">
                <i class="fa fa-cart-shopping"></i>
            </a>
        </div>
    </div>
</nav>

<div class="container body-content">
    @RenderBody()
</div>
<hr />
<footer class="text-center text-muted py-1">
    <p>&copy; @DateTime.Now.Year - Book Haven</p>
</footer>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>